# Начало работы с датасетом

In [3]:
import pandas as pd

bikes = pd.read_csv('data/BikeData.csv')
print(bikes.shape)
bikes.head()

(8760, 12)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [4]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [5]:
bikes['Hour']

0        0
1        1
2        2
3        3
4        4
        ..
8755    19
8756    20
8757    21
8758    22
8759    23
Name: Hour, Length: 8760, dtype: int64

In [6]:
bikes['Hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [7]:
bikes[['Partner 1', 'Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [8]:
bikes.iloc[124]

Date               06/12/2017
Hour                        4
Temperature              -3.4
Humidity                   75
Wind speed                0.0
Rainfall                  0.0
Snowfall                  0.4
Seasons                Winter
Holiday            No Holiday
Functioning Day           Yes
Partner 1                  36
Partner 2                   4
Name: 124, dtype: object

In [9]:
bikes.iloc[124]['Holiday']

'No Holiday'

### Фильтрация

In [10]:
bikes[bikes['Holiday'] == 'Holiday']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
504,22/12/2017,0,-1.7,79,0.5,0.0,0.8,Winter,Holiday,Yes,58,38
505,22/12/2017,1,-1.6,79,0.6,0.0,0.8,Winter,Holiday,Yes,205,203
506,22/12/2017,2,-1.1,79,0.7,0.0,0.8,Winter,Holiday,Yes,46,86
507,22/12/2017,3,-0.6,76,0.5,0.0,0.7,Winter,Holiday,Yes,94,41
508,22/12/2017,4,-0.3,76,0.9,0.0,0.7,Winter,Holiday,Yes,12,27
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [11]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 12)

In [11]:
bikes[(bikes['Holiday'] == 'Holiday') & 
      (bikes['Temperature'] > 15)].shape

(179, 12)

In [12]:
bikes[(bikes['Holiday'] == 'Holiday') | 
      (bikes['Temperature'] > 15)].shape

(4293, 12)

In [14]:
bikes[~((bikes['Holiday'] == 'Holiday') | 
      (bikes['Temperature'] > 15))].shape

(4467, 12)

In [17]:
bikes[bikes['Temperature'].isna()]   # Temperature - NaN

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
39,02/12/2017,15,NaN,41,2.3,0.0,0.0,Winter,No Holiday,Yes,490,198
50,03/12/2017,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,54
64,03/12/2017,16,NaN,77,1.6,0.0,0.0,Winter,No Holiday,Yes,49,528
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
151,07/12/2017,7,NaN,93,0.5,0.0,0.9,Winter,No Holiday,Yes,140,129
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [15]:
bikes[bikes['Temperature'].isna()].shape

(179, 12)

In [18]:
bikes[bikes['Temperature'].isin(range(10,20))].shape

(222, 12)

In [19]:
bikes[bikes['Seasons'].isin(['Winter', 'Autumn'])].shape

(4344, 12)

### Сортировка

In [20]:
bikes['Temperature'].sort_values()

1352   -17.8
1353   -17.5
1351   -17.5
1350   -17.4
1349   -16.9
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [24]:
bikes['Temperature'].sort_values(ascending=False)   # сортировка отдельного столбца

5848    39.4
5847    39.3
5849    39.0
5846    38.7
5825    38.0
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [25]:
bikes.sort_values(by=['Temperature', 'Humidity'])   # сортировка всего датафрейма

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
5114,02/07/2018,2,NaN,97,0.8,2.0,0.0,Summer,No Holiday,Yes,9,14
5336,11/07/2018,8,NaN,97,0.8,0.0,0.0,Summer,No Holiday,Yes,537,384
6526,29/08/2018,22,NaN,97,2.1,4.5,0.0,Summer,No Holiday,Yes,0,17
2506,15/03/2018,10,NaN,98,1.2,0.0,0.0,Spring,No Holiday,Yes,27,19
6463,27/08/2018,7,NaN,98,0.5,2.0,0.0,Summer,No Holiday,Yes,73,103

In [26]:
bikes.sort_values(by=['Temperature', 'Humidity'], ascending=[True, False])

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
1238,21/01/2018,14,NaN,18,1.2,0.0,0.0,Winter,No Holiday,Yes,119,100
1910,18/02/2018,14,NaN,17,1.8,0.0,0.0,Winter,No Holiday,Yes,7,162
1886,17/02/2018,14,NaN,15,4.0,0.0,0.0,Winter,Holiday,Yes,0,58
3400,21/04/2018,16,NaN,13,3.3,0.0,0.0,Spring,No Holiday,Yes,1649,560
4276,28/05/2018,4,NaN,0,0.4,0.0,0.0,Spring,No Holiday,Yes,51,58

In [29]:
bikes.sort_values(by=['Rainfall', 'Snowfall'], ascending=False)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
3997,16/05/2018,13,21.8,97,2.4,35.0,0.0,Spring,No Holiday,Yes,63,57
6501,28/08/2018,21,22.9,98,2.1,29.5,0.0,Summer,No Holiday,Yes,31,62
5132,02/07/2018,20,23.5,97,0.1,24.0,0.0,Summer,No Holiday,Yes,4,33
5034,28/06/2018,18,20.6,97,0.7,21.5,0.0,Summer,No Holiday,Yes,400,290
6524,29/08/2018,20,23.4,98,0.6,21.0,0.0,Summer,No Holiday,Yes,5,16
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [31]:
bikes['Partner 1'].sum()

3027951

In [32]:
bikes['Partner 2'].sum()

3074108

In [36]:
bikes.sort_values(by=['Partner 1', 'Partner 2'],ascending=False)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
6978,17/09/2018,18,25.3,56,2.8,0.0,0.0,Autumn,No Holiday,Yes,3101,2911
6738,07/09/2018,18,24.4,34,2.4,0.0,0.0,Autumn,No Holiday,Yes,3038,499
4338,30/05/2018,18,23.6,42,2.1,0.0,0.0,Spring,No Holiday,Yes,3008,2037
6690,05/09/2018,18,27.0,45,2.4,0.0,0.0,Autumn,No Holiday,Yes,2982,2466
5226,06/07/2018,18,25.9,52,2.1,0.0,0.0,Summer,No Holiday,Yes,2886,327
...,...,...,...,...,...,...,...,...,...,...,...,...
8251,09/11/2018,19,11.9,71,2.7,0.0,0.0,Autumn,No Holiday,No,0,0
8252,09/11/2018,20,11.9,72,2.5,0.0,0.0,Autumn,No Holiday,No,0,0
8253,09/11/2018,21,11.4,74,1.9,0.0,0.0,Autumn,No Holiday,No,0,0
8254,09/11/2018,22,11.2,75,1.7,0.0,0.0,Autumn,No Holiday,No,0,0
8255,09/11/2018,23,10.9,76,1.2,0.0,0.0,Autumn,No Holiday,No,0,0