# Фильтрация и сортировка

In [2]:
import pandas as pd

bikes = pd.read_csv('BikeData.csv')
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [3]:
bikes.head()   # первые 5 рядов

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [4]:
bikes.tail(7)   # последние 7 рядов

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
8753,30/11/2018,17,6.0,29,2.1,0.0,0.0,Autumn,No Holiday,Yes,620,535
8754,30/11/2018,18,4.7,34,1.9,0.0,0.0,Autumn,No Holiday,Yes,676,524
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [6]:
bikes.iloc[100:107]   # теперь берем данные где то в середине

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
100,05/12/2017,4,-7.2,34,3.0,0.0,0.0,Winter,No Holiday,Yes,18,22
101,05/12/2017,5,-7.4,33,2.6,0.0,0.0,Winter,No Holiday,Yes,55,37
102,05/12/2017,6,-7.4,34,3.2,0.0,0.0,Winter,No Holiday,Yes,41,133
103,05/12/2017,7,-7.5,33,2.2,0.0,0.0,Winter,No Holiday,Yes,152,342
104,05/12/2017,8,-8.1,36,1.6,0.0,0.0,Winter,No Holiday,Yes,144,47
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
106,05/12/2017,10,-5.5,26,2.8,0.0,0.0,Winter,No Holiday,Yes,49,13

In [7]:
bikes.columns   # список колонок

Index(['Date', 'Hour', 'Temperature', 'Humidity', 'Wind speed', 'Rainfall',
       'Snowfall', 'Seasons', 'Holiday', 'Functioning Day', 'Partner 1',
       'Partner 2'],
      dtype='object')

In [8]:
bikes.shape   # размерность

(8760, 12)

In [11]:
bikes.info()   # общая информация

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [12]:
bikes['Hour']

0        0
1        1
2        2
3        3
4        4
        ..
8755    19
8756    20
8757    21
8758    22
8759    23
Name: Hour, Length: 8760, dtype: int64

In [15]:
bikes['Hour'].unique()   # уникальные значения

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [17]:
bikes['Seasons'].unique()   # уникальные значения

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [21]:
bikes[['Partner 1', 'Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [22]:
bikes.iloc[124]

Date               06/12/2017
Hour                        4
Temperature              -3.4
Humidity                   75
Wind speed                0.0
Rainfall                  0.0
Snowfall                  0.4
Seasons                Winter
Holiday            No Holiday
Functioning Day           Yes
Partner 1                  36
Partner 2                   4
Name: 124, dtype: object

## Фильтрация

In [25]:
bikes['Holiday'] == 'Holiday'   # праздничные дни -

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Holiday, Length: 8760, dtype: bool

In [27]:
bikes[bikes['Holiday'] == 'Holiday']   # праздничные дни - список ссотв. строк

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
504,22/12/2017,0,-1.7,79,0.5,0.0,0.8,Winter,Holiday,Yes,58,38
505,22/12/2017,1,-1.6,79,0.6,0.0,0.8,Winter,Holiday,Yes,205,203
506,22/12/2017,2,-1.1,79,0.7,0.0,0.8,Winter,Holiday,Yes,46,86
507,22/12/2017,3,-0.6,76,0.5,0.0,0.7,Winter,Holiday,Yes,94,41
508,22/12/2017,4,-0.3,76,0.9,0.0,0.7,Winter,Holiday,Yes,12,27
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [29]:
# праздничные дни и температура > 15C
bikes[(bikes['Holiday'] == 'Holiday') & (bikes['Temperature'] > 15)]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
3624,01/05/2018,0,18.3,78,0.8,0.0,0.0,Spring,Holiday,Yes,624,109
3625,01/05/2018,1,18.3,83,1.1,0.0,0.0,Spring,Holiday,Yes,554,555
3626,01/05/2018,2,18.2,85,0.8,0.0,0.0,Spring,Holiday,Yes,11,442
3627,01/05/2018,3,18.1,85,1.0,0.0,0.0,Spring,Holiday,Yes,3,340
3628,01/05/2018,4,18.0,85,0.3,0.0,0.0,Spring,Holiday,Yes,144,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [31]:
# праздничные дни: лето ИЛИ и температура > 25C
bikes[(bikes['Seasons'] == 'Summer') | (bikes['Temperature'] > 25)]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
3374,20/04/2018,14,25.9,28,2.2,0.0,0.0,Spring,No Holiday,Yes,688,269
3376,20/04/2018,16,25.7,30,3.4,0.0,0.0,Spring,No Holiday,Yes,378,139
3377,20/04/2018,17,25.6,30,2.3,0.0,0.0,Spring,No Holiday,Yes,18,296
3785,07/05/2018,17,25.5,31,2.3,0.0,0.0,Spring,No Holiday,Yes,694,153
3786,07/05/2018,18,25.1,32,2.4,0.0,0.0,Spring,No Holiday,Yes,548,1459
...,...,...,...,...,...,...,...,...,...,...,...,...
7262,29/09/2018,14,26.2,33,1.8,0.0,0.0,Autumn,No Holiday,Yes,495,1774
7263,29/09/2018,15,26.5,33,1.4,0.0,0.0,Autumn,No Holiday,Yes,1517,1352
7265,29/09/2018,17,26.3,31,1.0,0.0,0.0,Autumn,No Holiday,Yes,1097,635
7383,04/10/2018,15,25.3,39,1.6,0.0,0.0,Autumn,No Holiday,No,0,0
7384,04/10/2018,16,25.1,41,1.0,0.0,0.0,Autumn,No Holiday,No,0,0

In [33]:
# праздничные дни, КРОМЕ: лето ИЛИ и температура > 25C
bikes[~((bikes['Seasons'] == 'Summer') | (bikes['Temperature'] > 25))]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [39]:
# пропущено значение температуры
bikes[bikes['Temperature'].isna()]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
39,02/12/2017,15,NaN,41,2.3,0.0,0.0,Winter,No Holiday,Yes,490,198
50,03/12/2017,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,54
64,03/12/2017,16,NaN,77,1.6,0.0,0.0,Winter,No Holiday,Yes,49,528
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
151,07/12/2017,7,NaN,93,0.5,0.0,0.9,Winter,No Holiday,Yes,140,129
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [41]:
# Время года -  в списке ['Winter', 'Autamn']
bikes[bikes['Seasons'].isin(['Winter', 'Autamn'])]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,28/02/2018,19,2.5,95,1.9,0.0,0.0,Winter,No Holiday,Yes,15,2
2156,28/02/2018,20,2.7,96,1.5,0.0,0.0,Winter,No Holiday,Yes,1,5
2157,28/02/2018,21,2.4,95,2.5,9.0,0.0,Winter,No Holiday,Yes,2,5
2158,28/02/2018,22,2.3,96,1.9,0.0,0.0,Winter,No Holiday,Yes,5,2
2159,28/02/2018,23,1.8,96,1.2,0.0,0.0,Winter,No Holiday,Yes,0,2

In [43]:
# Температура -  в интервале (-10,5)
bikes[bikes['Temperature'].isin(range(-10, 6))]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
14,01/12/2017,14,3.0,26,2.0,0.0,0.0,Winter,No Holiday,Yes,206,284
19,01/12/2017,19,0.0,77,1.7,0.0,0.0,Winter,No Holiday,Yes,484,433
29,02/12/2017,5,-4.0,79,1.5,0.0,0.0,Winter,No Holiday,Yes,52,58
...,...,...,...,...,...,...,...,...,...,...,...,...
8673,27/11/2018,9,5.0,75,0.3,0.0,0.0,Autumn,No Holiday,Yes,123,512
8693,28/11/2018,5,3.0,34,1.1,0.0,0.0,Autumn,No Holiday,Yes,134,14
8697,28/11/2018,9,3.0,30,1.3,0.0,0.0,Autumn,No Holiday,Yes,774,570
8730,29/11/2018,18,0.0,46,0.9,0.0,0.0,Autumn,No Holiday,Yes,812,1457
8734,29/11/2018,22,3.0,59,1.1,0.0,0.0,Autumn,No Holiday,Yes,701,439

## Сортировка