In [4]:
import pandas as pd

df = pd.read_csv('StarWars.csv', sep=';')
df

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится
...,...,...,...,...,...,...,...,...,...
1181,3288388730,да,да,Ж,18-29,0 - 24.999,Северо-Восточный центральный,очень нравится,нравится
1182,3288378779,да,да,Ж,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
1183,3288375286,нет,NaN,Ж,30-44,50.000 - 99.999,Средне-Атлантический,NaN,NaN
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится
1185,3288372923,да,нет,Ж,> 60,50.000 - 99.999,Тихоокеанский,очень не нравится,очень нравится

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   respondentID          1186 non-null   int64
 1   seen                  1186 non-null   object
 2   fan                   836 non-null    object
 3   gender                1046 non-null   object
 4   age_group             1046 non-null   object
 5   income                858 non-null    object
 6   loc                   1043 non-null   object
 7   yoda                  826 non-null    object
 8   princess_leia_organa  831 non-null    object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

### Укажите, верно ли следующее утверждение: мужчины 18-29 лет, которые не являются фанатами серии, чаще всего проживают в Тихоокеанском регионе.

In [24]:
df_filtered = df[(df['fan'] == 'нет') & (df['age_group'] == '18-29')]
df_filtered.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
9,3292640424,да,нет,М,18-29,25.000 - 49.999,Тихоокеанский,очень нравится,очень нравится
12,3292609214,да,нет,М,18-29,25.000 - 49.999,Южно-Атлантический,очень нравится,нравится
21,3292521066,да,нет,М,18-29,NaN,Тихоокеанский,отношусь нейтрально,отношусь нейтрально
32,3292330840,да,нет,М,18-29,NaN,Средне-Атлантический,не нравится,не нравится

In [25]:
df_filtered.shape

(56, 9)

In [17]:
df['loc'].unique()

array(['Южно-Атлантический', 'Юго-Западный центральный',
       'Северо-Западный центральный', 'Средне-Атлантический',
       'Северо-Восточный центральный', 'Тихоокеанский', nan, 'Горный',
       'Новая Англия', 'Юго-Восточный центральный'], dtype=object)

In [38]:
import collections

collections.Counter(df_filtered['loc'])

Counter({'Северо-Западный центральный': 6,
         'Тихоокеанский': 19,
         'Южно-Атлантический': 4,
         'Средне-Атлантический': 5,
         'Горный': 4,
         'Юго-Восточный центральный': 3,
         'Северо-Восточный центральный': 6,
         'Новая Англия': 5,
         'Юго-Западный центральный': 4})

### Какой регион проживания реже всего встречается в данных?

In [42]:
import collections

frequency_by_region = collections.Counter(df['loc'])
frequency_by_region

Counter({'Южно-Атлантический': 170,
         'Юго-Западный центральный': 110,
         'Северо-Западный центральный': 93,
         'Средне-Атлантический': 122,
         'Северо-Восточный центральный': 181,
         'Тихоокеанский': 175,
         nan: 143,
         'Горный': 79,
         'Новая Англия': 75,
         'Юго-Восточный центральный': 38})

In [43]:
given_locs = ['Северо-Восточный центральный', 'Тихоокеанский', 'Южно-Атлантический',
              'Средне-Атлантический', 'Горный', 'Новая Англия']

for loc in given_locs:
    print(f"{loc} - {frequency_by_region[loc]}")

Северо-Восточный центральный - 181
Тихоокеанский - 175
Южно-Атлантический - 170
Средне-Атлантический - 122
Горный - 79
Новая Англия - 75

### Сколько респондентов не ответили на вопрос, нравится ли им Йода? Выберите один верный ответ.

In [46]:
df[df['yoda'].isna()]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
10,3292637870,да,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3292635062,нет,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3292447974,нет,NaN,М,18-29,0 - 24.999,Юго-Восточный центральный,NaN,NaN
33,3292318652,да,нет,М,18-29,50.000 - 99.999,Горный,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1159,3288421819,нет,NaN,Ж,> 60,0 - 24.999,Юго-Западный центральный,NaN,NaN
1168,3288410073,нет,NaN,Ж,30-44,150.000+,Северо-Восточный центральный,NaN,NaN
1170,3288402717,нет,NaN,Ж,45-60,NaN,Северо-Восточный центральный,NaN,NaN
1178,3288395255,нет,NaN,Ж,18-29,NaN,Северо-Западный центральный,NaN,NaN
1183,3288375286,нет,NaN,Ж,30-44,50.000 - 99.999,Средне-Атлантический,NaN,NaN

### Скольким респондентам из Новой Англии очень нравится принцесса Лея Органа? Выберите один верный ответ.

In [54]:
df_filtered = df[(df['loc'] == 'Новая Англия') &
                 (df['princess_leia_organa'] == 'очень нравится')]
df_filtered.shape

(39, 9)